
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.quiz-container {
    background-color: rgba(62, 60, 60, 0.532); 
    border-radius: 50px;
    padding: 80px;
}

.title-box {
    text-align: center;
    margin-bottom: 20px;
}

.quiz-head{
    font-size: 1.5em;
    margin: 0;
    color: #f5f2d8;
    text-align: center;
}



.start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #1b5605;
    color: #f8f2e4;
    border: none;
    border-radius: 12px;
}

.start-button:hover {
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgba(12, 75, 8, 0.742);
transition: transform 100ms;
transform: scale(1.08)
}

.start-button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

body {
    background-image: url('background2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.quiz-title {
    font-size: 2em;
    margin: 0;
    text-align: center; 
    color: #ffffff; /* Fehér szín */
}

.answer-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(26, 27, 29, 0.579);
    transition: transform 100ms;
    transform: scale(1.08)
}

#mode-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.easy-mode-button {
    background-color: rgba(255, 153, 0, 0.742);
    color: white;
    font-size: 21px;
    margin-bottom: 20px;
    width: 200px;
    height: 80px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.easy-mode-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.745);
    transition: transform 100ms;
    transform: scale(1.08)
}

.hard-mode-button {
    background-color: rgba(151, 10, 10, 0.74);
    color: white;
    font-size: 21px;
    margin-bottom: 10px;
    width: 200px;
    height: 80px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.hard-mode-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.745);
    transition: transform 100ms;
    transform: scale(1.08)
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.answer-button {
    background-color: lightgray; /* Piros háttérszín */
    color: black; /* Fehér szövegszín a jobb láthatóság érdekében */
    border: none;
    width: 45%; /* Két gomb egymás mellé kerül */
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
}

/* Exit gomb pozíciója */
.exit-button {
    background-color: red; /* Piros háttérszín */
    color: white; /* Fehér szövegszín a jobb láthatóság érdekében */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px; /* Távolság hozzáadása a válaszok alatt */
    width: 25%;
    align-self: flex-end; /* Alulra igazítás */
    font-size: 16px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

    /* Exit gomb stílusa */
.exit-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.745);
    transition: transform 100ms;
    transform: scale(1.08);
}

.check-button {
    background-color: forestgreen; /* Piros háttérszín */
    color: white; /* Fehér szövegszín a jobb láthatóság érdekében */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px; /* Távolság hozzáadása a válaszok alatt */
    width: 25%;
    align-self: flex-end; /* Alulra igazítás */
    float: right;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

/* Ellenőriz gomb stílusa */
.check-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.745);
    transition: transform 100ms;
    transform: scale(1.08);
}

/* Kiemelt gomb stílusa */
.highlighted-button {
    background-color: #1b5605; /* Kiemelési szín */
    color: #f8f2e4; /* Kiemelési szín */
}